@import url("https://fonts.googleapis.com/css2?family=Gugi&family=Imprima&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jura:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Imprima";
}

html {
  background: url(../../img/fondo.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  padding: 20px;
}

header.body-header {
  background: linear-gradient(160deg, rgba(202, 48, 94, 0.4745098039) 55%, rgba(124, 120, 184, 0.6588235294) 80%);
  border-radius: 100px;
  padding: 20px 20px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-shadow: #162452 3px 3px 0;
}
header.body-header a.btn-index {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.2s ease;
}
header.body-header a.btn-index:hover {
  transform: scale(1.05);
}
header.body-header a.btn-index img {
  width: 90px;
  margin-right: 10px;
}
@media (max-width: 600px) {
  header.body-header a.btn-index img {
    display: none;
  }
}
header.body-header a.btn-index h1 {
  color: #ffffff;
  font-size: 3em;
}
header.body-header .user {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #ffffff;
}
header.body-header .user p {
  text-align: end;
  font-size: 1.3em;
  text-shadow: #162452 2px 2px 0px;
  font-weight: bold;
}
@media (max-width: 950px) {
  header.body-header .user p {
    display: none;
  }
}
header.body-header .user a {
  text-decoration: none;
  transition: all 0.1s ease;
}
header.body-header .user a:hover {
  transform: scale(1.2);
}
header.body-header .user a i {
  color: #ffffff;
  font-size: 3em;
}
header.body-header .user a img {
  margin-right: 10px;
  width: 90px;
  border: 5px solid #162452;
  border-radius: 100px;
}

aside.main-aside {
  display: none;
  background-color: #5e5183;
  width: 360px;
  border-radius: 20px;
  padding: 30px;
  height: -moz-fit-content;
  height: fit-content;
}
@media (max-width: 950px) {
  aside.main-aside {
    display: none;
  }
}
aside.main-aside h3 {
  color: #ffffff;
  text-shadow: rgb(71.3867924528, 61.5141509434, 99.4858490566) 3px 3px 0;
  font-size: 2em;
  margin-bottom: 10px;
}
aside.main-aside hr {
  border: 2px solid #ffffff;
  box-shadow: rgb(71.3867924528, 61.5141509434, 99.4858490566) 3px 3px 0;
  border-radius: 10px;
  margin-bottom: 20px;
}
aside.main-aside ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
aside.main-aside ul li {
  padding: 10px;
}
aside.main-aside ul li a {
  background-color: #ffffff;
  color: #5e5183;
  box-shadow: rgb(60.0801886792, 51.7712264151, 83.7287735849) 3px 3px 0;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  text-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 10px;
  border-radius: 10px;
  border: 3px solid #ffffff;
  transition: transform 0.1s linear;
}
aside.main-aside ul li a:hover {
  background-color: #fff;
  border: 3px solid rgb(60.0801886792, 51.7712264151, 83.7287735849);
  color: rgb(60.0801886792, 51.7712264151, 83.7287735849);
  transform: scale(1.05);
}

section.services-body article {
  width: 380px;
  background-color: rgba(124, 120, 184, 0.6588235294);
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
section.services-body article .article-header {
  background-color: rgba(36, 28, 48, 0.8784313725);
  padding: 15px;
  border-radius: 10px;
}
section.services-body article .article-header h3 {
  font-size: 1.5em;
  margin-bottom: 5px;
  color: #df9aaf;
}
section.services-body article .article-header p {
  font-style: italic;
  color: #ffffff;
}
section.services-body article .article-body {
  border-radius: 10px;
  color: #162452;
  font-weight: bold;
}
section.services-body article .article-body ul {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
}
section.services-body article .article-body ul li {
  background-color: rgba(255, 255, 255, 0.3843137255);
  padding: 10px;
  border-radius: 10px;
}
section.services-body article .article-body ul li u {
  color: #ca305e;
}
section.services-body article .article-body ul li a {
  color: #162452;
}

body {
  background-color: rgba(255, 255, 255, 0.3843137255);
  border-radius: 20px;
  height: 95vh;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
body main {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}
body main .services {
  background-color: rgba(255, 255, 255, 0.3843137255);
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 690px;
  overflow-y: auto;
  border-radius: 10px;
  padding: 50px 20px 0;
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 5%, black 95%, transparent 100%);
          mask-image: linear-gradient(to bottom, transparent 0%, black 5%, black 95%, transparent 100%);
}
body main .services .services-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 30px;
}
body main .services .services-header h2 {
  color: #162452;
  font-size: 2.5em;
}
body main .services .services-header input {
  background-color: #ffffff;
  padding: 10px;
  border: 3px solid #162452;
  border-radius: 20px;
  width: 40%;
  font-size: 1.3em;
}
body main .services hr {
  border: 3px solid #162452;
  border-radius: 10px;
  margin: 10px 0 30px;
}
body main .services .services-body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  padding-bottom: 40px;
}/*# sourceMappingURL=servicios.css.map */