@import url("https://fonts.googleapis.com/css2?family=Fascinate&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fascinate&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fascinate&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fascinate&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fascinate&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fascinate&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fascinate&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Google Sans Code";
}

html {
  background: url(../../img/fondo3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  font-size: 14px;
}

.menu-checkbox {
  display: none;
}

.menu-button {
  display: flex;
  position: sticky;
  top: 20px;
  right: 10px;
  border: 3px solid #163161;
  z-index: 101;
  background-color: #f5f5ff;
  color: #163161;
  font-size: 2em;
  padding: 7px 4px;
  margin-left: 40px;
  margin-right: 10px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: #163161 3px 3px 0;
  transition: all 0.3s ease;
}
@media (max-width: 950px) {
  .menu-button {
    border-radius: 10px 0 0 10px;
    border-right: none;
    top: 260px;
    right: 0;
    position: fixed;
    margin: 0;
  }
}
.menu-button:hover {
  transform: scale(1.1);
  background-color: #ff9147;
  text-shadow: #f5f5ff 3px 3px;
  box-shadow: #163161 5px 5px 0;
}

.menu-checkbox:checked ~ aside.main-aside {
  margin-right: -400px;
  opacity: 0;
}
@media (max-width: 950px) {
  .menu-checkbox:checked ~ aside.main-aside {
    right: 0;
    margin-right: 0;
    opacity: 1;
  }
}
@media (max-width: 950px) {
  .menu-checkbox:checked ~ .menu-button {
    right: 30px;
    top: 65px;
    border: 3px solid #163161;
    border-radius: 10px;
  }
}

section.feed article {
  background: linear-gradient(#163161 0, rgba(16, 36, 71, 0.5568627451) 300px, rgba(16, 36, 71, 0.5568627451));
  padding: 20px;
  border: 5px solid #f5f5ff;
  box-shadow: #163161 5px 5px;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
section.feed article:nth-of-type(4n + 1) {
  --article-color: #cc2a5a;
}
section.feed article:nth-of-type(4n + 2) {
  --article-color: #ff9147;
}
section.feed article:nth-of-type(4n + 3) {
  --article-color: #9c66cf;
}
section.feed article:nth-of-type(4n + 4) {
  --article-color: #3d73d3;
}
section.feed article header.article-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  text-shadow: rgb(12.5714285714, 28, 55.4285714286) 3px 3px 0;
}
section.feed article header.article-header .article-header-user {
  font-size: 1.5em;
  margin-right: 30px;
  border-radius: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
@media (max-width: 600px) {
  section.feed article header.article-header .article-header-user {
    font-size: 1.2em;
  }
}
section.feed article header.article-header .article-header-user img {
  width: 90px;
  border: 3px solid #f5f5ff;
  border-radius: 100px;
  box-shadow: #000 0 0 20px 5px;
}
section.feed article header.article-header .article-header-user .user-info {
  display: flex;
  flex-direction: column;
  color: #f5f5ff;
}
section.feed article header.article-header .article-header-user .user-info strong {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--article-color);
}
section.feed article header.article-header .article-header-date {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
  text-align: end;
  text-wrap: nowrap;
  font-size: 1.2em;
  margin-top: 8px;
  margin-right: 10px;
  margin-left: auto;
}
@media (max-width: 600px) {
  section.feed article header.article-header .article-header-date {
    font-size: 1em;
    margin-top: 4px;
  }
}
section.feed article header.article-header .article-header-date strong {
  color: var(--article-color);
  gap: 10px;
}
section.feed article header.article-header .article-header-date p {
  font-weight: bold;
  color: #f5f5ff;
  text-wrap: nowrap;
}
section.feed article header.article-header .article-header-date i {
  margin-left: 10px;
}
section.feed article section.article-body {
  padding: 30px;
  color: #f5f5ff;
  display: flex;
  gap: 30px;
  flex-direction: column;
  background-color: var(--article-color);
  border: 5px solid #f5f5ff;
  box-shadow: #163161 5px 5px;
  border-radius: 40px;
  color: #f5f5ff;
}
section.feed article section.article-body header.article-body-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 600px) {
  section.feed article section.article-body header.article-body-title {
    font-size: 0.7em;
  }
}
section.feed article section.article-body header.article-body-title h3 {
  font-family: "Fascinate";
  font-size: 2.2em;
  text-shadow: #163161 3px 3px 0;
}
section.feed article section.article-body header.article-body-title h4 {
  width: 100%;
  font-size: 2em;
  text-shadow: #163161 3px 3px 0;
}
section.feed article section.article-body header.article-body-title p {
  font-size: 1.5em;
}
section.feed article section.article-body div.article-body-content {
  display: block;
  overflow: hidden;
  background-color: #f5f5ff;
  color: #163161;
  border-radius: 40px;
  border: 5px solid #163161;
  box-shadow: #163161 5px 5px;
}
@media (max-width: 600px) {
  section.feed article section.article-body div.article-body-content {
    font-size: 0.7em;
  }
}
section.feed article section.article-body div.article-body-content img {
  float: left;
  width: 200px;
  height: 200px;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border: 5px solid #163161;
  border-radius: 20px;
  margin: 30px;
}
@media (max-width: 600px) {
  section.feed article section.article-body div.article-body-content img {
    float: none;
    display: block;
    margin: 30px auto 30px;
  }
}
section.feed article section.article-body div.article-body-content p {
  font-size: 1.5em;
  font-weight: bold;
  margin: 30px;
}
section.feed article section.article-body div.article-body-content p i {
  font-size: 1.6em;
}
section.feed article footer.article-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  gap: 5px;
  color: #f5f5ff;
  text-shadow: #163161 3px 3px 0;
  font-size: 1.5em;
  padding: 20px;
  border-radius: 40px;
  margin-top: 10px;
}
@media (max-width: 600px) {
  section.feed article footer.article-footer {
    font-size: 1.2em;
  }
}
section.feed article footer.article-footer strong, section.feed article footer.article-footer p {
  width: 100%;
  font-family: "Fascinate";
}
section.feed article footer.article-footer p {
  color: #ff9147;
}
section.feed article footer.article-footer hr {
  border: 2px solid #f5f5ff;
  border-radius: 10px;
  box-shadow: #163161 3px 3px 0;
  width: 100%;
  margin: 15px;
}
section.feed article footer.article-footer .vote-btns {
  width: 100%;
  padding: 20px 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.3843137255);
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 20px, black calc(100% - 20px), transparent 100%);
          mask-image: linear-gradient(to right, transparent 0%, black 20px, black calc(100% - 20px), transparent 100%);
}
section.feed article footer.article-footer .vote-btns button {
  background-color: #f5f5ff;
  padding: 20px;
  border: 4px solid #163161;
  box-shadow: #163161 2px 2px;
  border-radius: 10px;
  color: #163161;
  font-size: 1em;
  font-weight: bold;
  transition: all 0.1s linear;
  text-wrap: nowrap;
}
section.feed article footer.article-footer .vote-btns button:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: #163161 5px 5px;
  color: #f5f5ff;
  text-shadow: #163161 2px 2px;
}
section.feed article footer.article-footer .vote-btns button:nth-child(4n+1):hover {
  background-color: #cc2a5a;
}
section.feed article footer.article-footer .vote-btns button:nth-child(4n+2):hover {
  background-color: #ff9147;
}
section.feed article footer.article-footer .vote-btns button:nth-child(4n+3):hover {
  background-color: #9c66cf;
}
section.feed article footer.article-footer .vote-btns button:nth-child(4n+4):hover {
  background-color: #3d73d3;
}
section.feed article footer.article-footer button.vote-confirm {
  width: 100%;
  max-width: 300px;
  padding: 20px;
  border: 3px solid #f5f5ff;
  border-radius: 10px;
  color: #f5f5ff;
  box-shadow: #163161 3px 3px;
  font-size: 1em;
  font-weight: bold;
  transition: all 0.2s ease;
  background: linear-gradient(to right, #163161 0%, rgba(110, 40, 143, 0.9098039216) 50%, #cc2a5a 51%, #ff9147 100%);
  background-size: 210% 100%;
  background-position: left center;
}
section.feed article footer.article-footer button.vote-confirm:hover {
  cursor: pointer;
  background-color: #163161;
  color: #f5f5ff;
  border: 3px solid #f5f5ff;
  transform: scale(1.1);
  box-shadow: #163161 5px 5px;
  background-position: right center;
  text-shadow: #163161 3px 3px;
}

@keyframes animarFondo {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 100% 50%;
  }
}
header.body-header {
  box-shadow: rgba(16, 36, 71, 0.5568627451) 0 0 10px 5px;
  border-radius: 100px;
  padding: 10px 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-shadow: #163161 3px 3px 0;
  background-color: rgba(255, 255, 255, 0.3843137255);
}
header.body-header a.btn-index {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.2s ease;
  border: 3px solid #f5f5ff;
  box-shadow: #163161 3px 3px;
  border-radius: 100px;
  background: linear-gradient(160deg, rgba(110, 40, 143, 0.9098039216), rgba(182, 30, 76, 0.7254901961), rgba(255, 125, 38, 0.7450980392), rgba(110, 40, 143, 0.9098039216), rgba(182, 30, 76, 0.7254901961), rgba(255, 125, 38, 0.7450980392));
  background-size: 370% 100%;
  background-position: 250% 50%;
  animation: animarFondo 3s linear infinite;
}
@media (max-width: 950px) {
  header.body-header a.btn-index {
    background-size: 650% 100%;
  }
}
header.body-header a.btn-index:hover {
  transform: scale(1.05);
  box-shadow: #163161 5px 5px;
  animation: animarFondo 0.7s linear infinite;
}
header.body-header a.btn-index img {
  padding: 10px;
  width: 90px;
  margin: 10px;
}
header.body-header a.btn-index h1 {
  color: #f5f5ff;
  font-size: 3em;
  font-family: "Fascinate";
  margin-right: 30px;
}
@media (max-width: 950px) {
  header.body-header a.btn-index h1 {
    display: none;
  }
}
header.body-header .user {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #f5f5ff;
}
header.body-header .user p {
  text-align: end;
  font-size: 1.3em;
  text-shadow: #163161 2px 2px 0px;
  font-weight: bold;
}
@media (max-width: 600px) {
  header.body-header .user p {
    display: none;
  }
}
header.body-header .user a {
  text-decoration: none;
  transition: all 0.1s ease;
}
header.body-header .user a:hover {
  transform: scale(1.1);
}
header.body-header .user a i {
  color: #f5f5ff;
  font-size: 3em;
}
header.body-header .user a img {
  margin-top: 3px;
  margin-right: 5px;
  width: 90px;
  border: 3px solid #f5f5ff;
  border-radius: 100px;
  box-shadow: #000 0 0 20px 5px;
  transition: transform 0.2s ease;
}
header.body-header .user a img:hover {
  transform: scale(1.05);
  box-shadow: #000 0 0 15px 6px;
}

nav.main-nav {
  margin: 20px 0;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, rgba(110, 40, 143, 0.9098039216), rgba(255, 255, 255, 0.3843137255), rgba(255, 255, 255, 0.3843137255), rgba(110, 40, 143, 0.9098039216));
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 5%, black 95%, transparent 100%);
          mask-image: linear-gradient(to right, transparent 0%, black 5%, black 95%, transparent 100%);
}
nav.main-nav ul {
  display: flex;
  list-style-type: none;
  gap: 15px;
  border-radius: 30px;
  padding: 5px;
}
nav.main-nav ul li a {
  color: #f5f5ff;
  text-decoration: none;
  background: linear-gradient(to right, #163161 0%, rgba(110, 40, 143, 0.9098039216) 50%, #cc2a5a 51%, #ff9147 100%);
  background-size: 210% 100%;
  background-position: left center;
  padding: 12px 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 30px;
  border: 3px solid #f5f5ff;
  box-shadow: #163161 0 0 10px;
  transition: all 0.3s ease;
}
nav.main-nav ul li a:hover, nav.main-nav ul li a:has(.selected) {
  background-position: right center;
  transform: scale(1.1);
  text-shadow: #163161 2px 2px;
}
nav.main-nav ul li a:active {
  transform: scale(0.95);
}
@media (max-width: 950px) {
  nav.main-nav ul li a p {
    display: none;
  }
}

aside.main-aside {
  width: 360px;
  padding: 100px 30px;
  height: 95vh;
  position: sticky;
  top: 20px;
  right: -100%;
  transition: all 0.4s ease;
  background: linear-gradient(to bottom, rgba(110, 40, 143, 0.9098039216), rgba(255, 255, 255, 0.3843137255) 150px, rgba(255, 255, 255, 0.3843137255) calc(100% - 150px), rgba(110, 40, 143, 0.9098039216));
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 40px, black calc(100% - 40px), transparent 100%);
          mask-image: linear-gradient(to bottom, transparent 0%, black 40px, black calc(100% - 40px), transparent 100%);
}
@media (max-width: 950px) {
  aside.main-aside {
    position: fixed;
    top: 0;
    right: -100%;
    left: auto;
    max-width: 80%;
    height: 100vh;
    z-index: 100;
    transition: all 0.4s ease;
    padding-top: 80px;
    border-left: 2px solid #f5f5ff;
    background: linear-gradient(to bottom, #163161, #9c66cf, #9c66cf, #163161);
  }
}
aside.main-aside h3 {
  color: #f5f5ff;
  text-shadow: #163161 3px 3px 0;
  font-size: 2em;
  font-family: "Fascinate";
  margin-bottom: 10px;
}
aside.main-aside hr {
  border: 2px solid #f5f5ff;
  box-shadow: #163161 3px 3px 0;
  border-radius: 10px;
  margin-bottom: 20px;
}
aside.main-aside ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
aside.main-aside ul li {
  position: relative;
}
aside.main-aside ul li:nth-child(4n+1) {
  --item-color: #cc2a5a;
}
aside.main-aside ul li:nth-child(4n+2) {
  --item-color: #ff9147;
}
aside.main-aside ul li:nth-child(4n+3) {
  --item-color: #9c66cf;
}
aside.main-aside ul li:nth-child(4n+4) {
  --item-color: #3d73d3;
}
aside.main-aside ul li a, aside.main-aside ul li p {
  background-color: #f5f5ff;
  color: #163161;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  text-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 10px;
  border: 3px solid #163161;
  box-shadow: #163161 4px 4px 0;
  border-radius: 10px;
  transition: all 0.2s ease;
}
aside.main-aside ul li p {
  cursor: default;
}
aside.main-aside ul li:hover > a, aside.main-aside ul li:hover > p {
  transform: scale(1.05);
  background-color: var(--item-color);
  color: #f5f5ff;
  text-shadow: #163161 3px 3px;
}
aside.main-aside ul li:hover > p {
  margin-bottom: 5px;
}
aside.main-aside ul .has-dropdown {
  position: relative;
}
aside.main-aside ul .has-dropdown .submenu {
  background-color: rgba(16, 36, 71, 0.5568627451);
  border: 3px solid #163161;
  border-top: none;
  box-shadow: #163161 3px 3px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0 10px;
  margin: 0 10px;
  border-radius: 0 0 10px 10px;
  transition: max-height 0.5s ease-in, opacity 0.2s ease, padding 0.2s ease;
}
aside.main-aside ul .has-dropdown .submenu li:nth-child(4n+1) {
  --item-color: #cc2a5a;
}
aside.main-aside ul .has-dropdown .submenu li:nth-child(4n+2) {
  --item-color: #ff9147;
}
aside.main-aside ul .has-dropdown .submenu li:nth-child(4n+3) {
  --item-color: #9c66cf;
}
aside.main-aside ul .has-dropdown .submenu li:nth-child(4n+4) {
  --item-color: #3d73d3;
}
aside.main-aside ul .has-dropdown .submenu li a {
  background-color: #f5f5ff;
  border-color: #163161;
  color: #163161;
  text-shadow: none;
  display: block;
  font-size: 1.2em;
}
aside.main-aside ul .has-dropdown .submenu li a:hover {
  color: #f5f5ff;
  text-shadow: #163161 2px 2px;
  transform: scale(1.05);
  box-shadow: #163161 5px 5px;
  background-color: var(--item-color);
}
aside.main-aside ul .has-dropdown:hover .submenu {
  max-height: 500px;
  opacity: 1;
  padding: 10px;
}

footer.main-footer {
  background-color: rgba(255, 255, 255, 0.3843137255);
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 40px, black calc(100% - 40px), transparent 100%);
          mask-image: linear-gradient(to right, transparent 0%, black 40px, black calc(100% - 40px), transparent 100%);
  margin-top: 20px;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  color: #163161;
  font-family: "SN Pro";
  font-size: 1.2em;
}
footer.main-footer section {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 950px) {
  footer.main-footer section {
    flex-direction: column;
  }
}
footer.main-footer section article {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 950px) {
  footer.main-footer section article {
    margin-top: 20px;
  }
}
footer.main-footer section article h4 {
  font-family: "SN Pro";
  padding: 10px;
  width: 100%;
  font-size: 1.3em;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3843137255);
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 15%, black 85%, transparent 100%);
          mask-image: linear-gradient(to right, transparent 0%, black 15%, black 85%, transparent 100%);
}
footer.main-footer section article ul {
  list-style-type: none;
  flex: 1;
  display: flex;
  padding: 20px;
}
footer.main-footer section article a {
  font-family: "SN Pro";
  color: #163161;
}
footer.main-footer section .footer-sitemap ul, footer.main-footer section .footer-info ul {
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
footer.main-footer section .footer-sitemap ul p, footer.main-footer section .footer-info ul p {
  font-family: "SN Pro";
}
footer.main-footer section .footer-social ul {
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}
footer.main-footer section .footer-social ul a i {
  font-size: 2.5em;
}
footer.main-footer section hr {
  margin: 0 40px;
  border: 2px solid rgba(16, 36, 71, 0.5568627451);
  border-radius: 10px;
}
@media (max-width: 950px) {
  footer.main-footer section hr {
    display: none;
  }
}
footer.main-footer .footer-policy small {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 2%;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.3843137255);
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 15%, black 85%, transparent 100%);
          mask-image: linear-gradient(to right, transparent 0%, black 15%, black 85%, transparent 100%);
}
footer.main-footer .footer-policy small a {
  color: #163161;
  font-family: "SN Pro";
}
footer.main-footer .footer-copy {
  text-align: center;
}
footer.main-footer .footer-copy p, footer.main-footer .footer-copy strong {
  font-family: "SN Pro";
}

body {
  border-radius: 20px;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
body main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
body main section.feed {
  width: 100%;
  max-width: 1200px;
  background: linear-gradient(to bottom, rgba(110, 40, 143, 0.9098039216), rgba(255, 255, 255, 0.3843137255) 300px, rgba(255, 255, 255, 0.3843137255) calc(100% - 300px), rgba(110, 40, 143, 0.9098039216));
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 60px 20px 0;
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 40px, black calc(100% - 40px), transparent 100%);
          mask-image: linear-gradient(to bottom, transparent 0%, black 40px, black calc(100% - 40px), transparent 100%);
}
body main section.feed .section-header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  gap: 10px;
}
@media (max-width: 950px) {
  body main section.feed .section-header {
    flex-direction: column;
    align-items: flex-start;
  }
}
body main section.feed .section-header h2 {
  font-family: "Fascinate";
  flex: 1;
  color: #f5f5ff;
  font-size: 2.5em;
  margin-right: 30px;
  text-shadow: #163161 3px 3px 0;
}
@media (max-width: 950px) {
  body main section.feed .section-header h2 {
    order: 1;
  }
}
body main section.feed .section-header .section-btns {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 0.8em;
}
@media (max-width: 950px) {
  body main section.feed .section-header .section-btns {
    width: 100%;
    order: 3;
    margin-top: 10px;
    margin-bottom: 50px;
  }
}
body main section.feed .section-header .section-btns .btn-filter, body main section.feed .section-header .section-btns .btn-order {
  width: 120px;
  color: #163161;
  background-color: #f5f5ff;
  padding: 10px;
  border: 3px solid #163161;
  box-shadow: #163161 2px 2px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease;
}
body main section.feed .section-header .section-btns .btn-filter:hover, body main section.feed .section-header .section-btns .btn-order:hover {
  transform: scale(1.05);
  color: #f5f5ff;
  text-shadow: #163161 1px 2px;
  background-color: #ff9147;
  box-shadow: #163161 3px 3px;
}
body main section.feed .section-header .section-btns .btn-order:hover {
  background-color: #cc2a5a;
}
body main section.feed .section-header hr {
  width: 100%;
  border: 3px solid #f5f5ff;
  border-radius: 10px;
  margin-bottom: 60px;
  box-shadow: #163161 3px 3px 0;
}
@media (max-width: 950px) {
  body main section.feed .section-header hr {
    order: 2;
    margin-bottom: 0;
  }
}
body main .hr-feed {
  width: 100%;
  border: 3px solid #f5f5ff;
  border-radius: 10px;
  margin: 50px 0;
  box-shadow: #163161 3px 3px 0;
}
body main .btn-up {
  margin: 50px auto 70px;
  padding: 12px;
  border: 5px solid #f5f5ff;
  border-radius: 50px;
  background-color: #163161;
  color: #f5f5ff;
  font-size: 2em;
  transition: all 0.2s ease;
}
body main .btn-up:hover {
  transform: scale(1.2);
  color: #163161;
  background-color: #f5f5ff;
  border-color: #163161;
}/*# sourceMappingURL=index.css.map */