* {
    margin: 0px;
    padding: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* BODY */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: #755840;*/
    background-image: url("img/textura-de-papel.jpg");
    background-size: cover;
    background-attachment: fixed;
}


/* HEADER */

header {
    width: 1000px;
    height: 300px;
    background-color: #e5ab7594;
    margin-top: 20px;
    border-radius: 100px;
    padding: 20px;

    display: flex;
    align-items: center;
}

header h1 {
    font-size: 4rem;
    color: #f3e5d9;
}

header h2 {
    font-size: 3rem;
    color: #423a31;
    margin-top: 30px;
}

header section {
    text-align: right;
    margin-left: 50px;
}

header img {
    width: 300px;
    border-radius: 80px;
}


/* NAV */

nav {
    background-color: rgba(157, 212, 194, 0.521);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding: 25px;
    margin-top: 30px;
    border-radius: 55px;
}

nav ul {
    display: flex;
    gap: 60px;
}

nav ul li {
    list-style-type: none;
}

nav button:hover {
    background-color: rgb(29, 105, 124);
}

nav button:active {
    background-color: rgb(6, 41, 29);
}

nav button {
    background-color: rgb(62, 129, 107);
    color: #FFFFFF;
    width: 150px;
    height: 80px;
    border-radius: 50px;
    border: 3px solid rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

.boton-activo {
    background-color: rgb(10, 75, 53);
}


/* MAIN */

main h2 {
    color: #FFFFFF;
    margin-top: 70px;
    margin-bottom: 10px;
    margin-left: 50px;
    font-size: 2rem;
}

main section {
    background-color: rgba(157, 212, 194, 0.521);
    border-radius: 50px;
    padding: 20px;
}

main article {
    padding: 30px;
    margin: 20px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(67, 100, 118);
}

main p {
    font-size: 1.7rem;
    color: #FFFFFF;
}

main ul {
    width: 400px;
}

main ul li {
    color: #FFFFFF;
    font-size: 1.5rem;
}


/* FOOTER */

footer {
    width: 1000px;
    height: 70px;
    background-color: rgba(157, 212, 194, 0.521);
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    margin-bottom: 20px;
    border-radius: 55px;
    padding: 20px;
    text-align: center;
}

footer button {
    background-color: rgb(62, 129, 107);
    width: 200px;
    height: 70px;
    border-radius: 50px;
    border: none;
}

footer a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.8rem;
}