* {
    margin: 0px;
    padding: 0px;

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


/* BODY */

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url("img/luces-de-neon-degradadas-abstractas.jpg");
    background-size: cover;
    background-attachment: fixed;
}


/* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 1000px;
    height: 300px;

    margin-top: 20px;
    padding: 20px;

    background-color: rgb(20, 66, 68);
    border: 3px solid #7ee462;
    border-radius: 100px;
}

header h1 {
    color: rgb(20, 66, 68);
    
    font-size: 3.4em;
}

header h2 {
    color: #e5e9ee;
    
    font-size: 2.5em;
}

header section {
    width: 600px;
    height: 255px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    padding: 20px;

    background-color: rgb(111, 159, 165);
    border-radius: 80px;
}

header img {
    width: 300px;

    border-radius: 80px;
}


/* BOTONES */

button {
    float: right;

    width: 150px;
    height: 80px;

    background-color: rgb(7, 94, 109);
    border: 3px solid #7ee462;
    border-radius: 50px;

    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    font-size: 1.1em;
}

button:hover {
    background-color: rgb(47, 136, 158);
}

button:active {
    background-color: rgb(26, 73, 85);
}


/* NAV */

nav {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 1000px;
    height: 60px;

    padding: 25px;
    margin-top: 30px;
    margin-bottom: 100px;

    background-color: #ffffff2d; 
    
    border-radius: 55px;
}

nav ul {
    display: flex;
    gap: 24px;
}

nav ul li {
    list-style-type: none;
}


/* MAIN */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h2 {
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 50px;

    color: #FFFFFF;
    font-size: 2em;
}

main section {
    width: 1000px;

    padding: 20px;

    background-color: #ffffff2d;
    border-radius: 50px;
}

main article {
    display: flex;

    justify-content: space-between;

    padding: 30px;
    margin: 20px;
    
    background-color: rgb(20, 66, 68);
    border: 3px solid #7ee462;
    border-radius: 40px;
}

main p {
    color: #ffffff;
    font-size: 1.7em;
}

main p b {
    color: #7ee462;
}

main ul {
    width: 300px;
}

main ul li {
    color: #FFFFFF;
    font-size: 1.5em;
    margin-top: 20px;
}

main button {
    margin-top: 20px;
    font-size: 1.5em;
}

#enlaces {
    justify-content: center;
    gap: 150px;
}

#enlaces div {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 50px
}

#datos img {
    width: 100px;
}

#enlaces a {
    color: white;
    font-size: 2em;
}

#experiencia article {
    display: flex;
    align-items: center;
}

#experiencia div {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#competencias article {
    align-items: center;
}

#competencias p {
    text-align: right;
    
    font-style: italic;
}

#competencias b {
    font-style: normal
}

#competencias img {
    width: 80px;

    margin-top: 20px;
}

#intereses {
    margin-bottom: 100px;
}