* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: rgb(0, 0, 39);
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;

    background-color: aliceblue;
}

section {
    display: flex;
    gap: 20px;
    justify-content: center;
}

img {
    border-radius: 15px;
    width: 300px;
    height: 300px;
    margin: 5px;
    object-fit: cover;
}

h1 {
    color: white;
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    border-color: orange;
    border-width: 2px;
    margin-bottom: 10px;
}