* {
    margin: 0px;
    padding: 0px;
}

/* -------------------------------------------------- */
/* HEADER */

header {
    background-color: #805646;

    height: 140px;

    display: flex;
}

/* logotipo */
.logotipo {
    width: 33.33%;
    padding-left: 50px;

    align-self: center;
}

.logotipo img {
    width: 300px;
}

/* botón reservar */
.reservar {
    width: 33.33%;

    display: flex;
    justify-content: center;
}

.reservar button {
    background-color: #b97e46;
    color: #fff;

    font-size: 2em;
    font-weight: bold;

    width: 300px;
    height: 100px;

    padding-bottom: 10px;

    border: 0px;
    border-radius: 0px 0px 100px 100px;

    text-align: center;

    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.419);
}

/* menú de enlaces */
.nav {
    color: #fff;

    width: 33.33%;

    display: flex;
    justify-content: end;
    align-items: center;
    
    padding-right: 50px;
}

.nav ul {
    list-style: none;
    padding: 0;

    display: flex;
    justify-content: center;
    gap: 30px;
}

.nav a {
    color: #fff;

    text-decoration: none;
}

.nav hr {
    border: 1px #fff solid;
}

.nav .contacto {
    display: flex;
    gap: 50px;
}

/* -------------------------------------------------- */
/* BODY */

body {
    background-color: #eeb581;
}

/* -------------------------------------------------- */
/* MAIN */

main section {
    background-color: #eeb581;

    padding: 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

main article {
    color: #efc9a5;

    background-color: #805646;
    box-shadow: 0px 0px 40px 40px #805646;
}

main img {
    width: 1000px;
}

/* -------------------------------------------------- */
/* FOOTER */

footer {
    background-color: #805646;

    padding: 50px;

    display: flex;
    gap: 100px;
}

footer section {
    display: flex;
    align-items: center;
    justify-content: center;
}


.mapa {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.mapa img {
    width: 400px;
}

.mapa a {
    color: #fff;
}


.horario {
    width: 800px;
}

.horario td {
    background-color: #bd8975;
    color: #fff;

    border: 0;

    padding: 20px;

    text-align: center;
}


.politicas {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.politicas a {
    color: #fff;
}