* {
    margin: 0px;
    padding: 0px;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-color: #72c5da;
    height: 200px;
    padding: 50px;
    text-align: center;
}

h1 {
    color: #214357;
    font-size: 2em;
    display: block;
}

nav {
    display: block;
    margin-top: 100px;
}