* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 20px;
}

@media (max-width: 599px) {

    body {
        background-color: rgb(127, 240, 234);
    }

    hr {
        border: black solid 1px;
        margin-bottom: 20px;
    }

    h2 {
        margin-top: 20px;
    }
    
    li {
        margin-bottom: 10px;
        list-style-type: none;
    }

    a {
        text-decoration: none;
    }
}

@media (min-width: 600px) {

    body {
        background-color: rgb(210, 240, 127);
    } 

    

    main {
        display: flex;
    }

    hr {
        border: none;
        margin-bottom: 20px;
    }

    h2 {
        margin-top: 20px;
    }
    
    li {
        margin-bottom: 10px;
        list-style-type: none;
    }

    a {
        text-decoration: none;
    }
}

@media (min-width: 1200px) {

    
}