@font-face {
    font-family: Gugi;
    src: url("../font/Gugi-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: Gugi;
    box-sizing: border-box;
}

body {
    background-color: #383a73;
    padding: 30px;
}


/* SECCIÓN HEADER */
header {
    background-color: #c41b54;
    width: 100%;
    height: 80px;
    padding: 0 10px;
    border-radius: 20px 20px 0px 0px;

    box-shadow: #310744 0px 0px 20px 5px;

    display: flex;
    align-items: center;
    gap: 10px;
}

header #logo {
    display: flex;
    align-items: center;
}

header #logo {
    color: #fff;
    text-decoration: none;
}

header #logo h1 {
    padding: 5px;
    border-radius: 10px;

    transition: 
        background-color 0.3s ease,
        box-shadow 0.3s ease,
        font-size 0.5s ease;
}
header #logo h1:hover {
    font-size: 2.2em;
    background-color: #d65580;
    box-shadow: 0px 0px 30px #72092c;
}

header img {
    width: 50px;
    border-radius: 10px;

    transition:  
        background-color 0.3s ease,
        box-shadow 0.3s ease,
        width 0.5s ease;
}
header img:hover {
    background-color: #d65580;
    box-shadow: 0px 0px 30px #72092c;
    width: 60px;
}

header #burger {
    margin-left: auto;
}


/* SECCIÓN MAIN */
main {
    background-color: #b887d5;

    box-shadow: #310744 0px 10px 20px 5px;
}

main img {
    width: 33.33%;
}

main .catalogo {
    background-color: #ceaee0;
    width: 100%;
    margin-bottom: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}


main .botones {
    margin-bottom: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

main .botones button {
    background: radial-gradient(circle closest-side, #c41b54 100%, #94254a 500%);
    color: #fff;
    font-size: 4vw;
    border: solid 3px;
    border-radius: 50px;

    width: 70vw;
    height: 80px;
    cursor: pointer;

    transition: 0.5s ease;
}
main .botones button:hover {
    width: 82vw;
    color: gold;
}


main .productos article {
    background-color: #ceaee0;
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 20px;

    text-align: center;
}

main .productos div {
    background: linear-gradient(to top, #6f1c96 0%, #b34be3 30%);
    border-radius: 20px;
    padding-bottom: 30px;
}

main .productos img {
    width: 100%;
    border-radius: 20px 20px 100px 100px;
    box-shadow: 0px 40px 30px -30px #310744;
}

main .productos h2 {
    color: #fff;
    margin-top: 40px;
}

main .productos p {
    color: #fff;
    margin: 20px 40px 0px 40px; 
}

main .productos a {
    color: #fff;
    font-size: 1.3em;
    margin-top: 30px;
    text-decoration: none;

    display: inline-block;

    transition: 0.3s ease;
}
main .productos a:hover {
color: gold;
margin-top: 23px;
margin-bottom: 7px;
text-decoration: underline;
}


main .inscribete {
    background-color: #ff598e;
    color: #fff;
    text-align: center;
    line-height: 1.8em;

    margin-top: 30px;
    padding: 50px 30px;
}

main .inscribete p {
    margin-bottom: 30px;
}

main .inscribete button {
    background: radial-gradient(circle closest-side, #c41b54 100%, #94254a 500%);
    color: #fff;
    font-size: 4vw;
    border: solid 3px;
    border-radius: 50px;

    width: 80%;
    height: 80px;
    cursor: pointer;

    transition: 0.25s linear;
}
main .inscribete button:hover {
    width: 100%;
    color: gold;
}


/* SECCIÓN FOOTER */
footer {
    background-color: #c41b54;
    height: 70px;
    border-radius: 0px 0px 20px 20px;
    padding: 30px;

    box-shadow: #310744 0px 20px 50px 5px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    gap: 50px;
}

footer a {
    color: #fff;
    text-decoration: none;
    width: 33%;

    transition: 0.3s ease;
}
footer a:hover {
    color: gold;
    margin-bottom: 7px;
    text-decoration: underline;
}