$color_letra: #eee;
$color-fondo: #15a;

@mixin respond-to($size) {
    @if $size == small {
        @media (max-width: 800px) {
            @content;
        }
    }

    @else if $size == medium {
        @media (min-width: 801px) {
            @content;
        }
    }
}

@mixin form {
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
}

@mixin transition($property, $duration, $timing: linear) {
    transition: $property $duration $timing;
}

@mixin animation($name, $duration, $timing: linear) {
    animation: $name $duration $timing-function;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 70px;
    background-color: $color_letra;
    padding: 15px;
    font-size: 2em;
    font-weight: bold;
    color: darken($color_letra, 65%);
}

nav {
    @include respond-to(medium) {
        display: inline-block;
    }

    @include respond-to(small) {
        display: none;
    }

    width: 100%;
    background-color: $color-fondo;

    li {
        width: 150px;
        height: 40px;
        padding: 10px;
        text-align: center;
        display: inline-block;
        position: relative;
        background-color: $color-fondo;

        @include transition(background-color, 0.2s);

        &:hover {
            background-color: lighten($color-fondo, 10%);
        }
    }

    a {
        color: $color_letra;
        text-decoration: none;

        @include transition(color, 0.2s);

        &:hover {
            color: lighten($color_letra, 10%);
        }
    }

    li>ul {
        display: none;
    }

    li:hover>ul {
        display: inline;
        position: absolute;
        top: 40px;
        left: 0px;
    }
}

main {
    @include respond-to(medium) {
        display: flex;
    }

    @include respond-to(small) {
        display: block;
    }
}

form {
    @include respond-to(medium) {
        width: 300px;
    }

    @include respond-to(small) {
        width: auto
    }

    margin: 30px;

    input {
        @include form;

        border: $color_letra solid 2px;
    }

    button {
        @include form;

        background-color: $color-fondo;
        color: $color_letra;
        border: none;
        cursor: pointer;

        @include transition(background-color, 0.2s);

        &:hover {
            background-color: lighten($color-fondo, 10%);
        }
    }
}

article:not(.form) {
    margin: 30px;

    h1 {
        color: $color-fondo;
    }

    h1, p {
        margin-bottom: 20px;
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $color-fondo;
    color: $color_letra;
    padding: 10px;
}