* { margin: 0px; padding: 0px; }

/* Fondo de la web con imagen */
body {
    background-image: url(img/fondo.jpg);
    display: flex;
    justify-content: center;
}

/* Rectángulo de color */
div {
    background-color: burlywood;
    width: 500px;
    margin-top: 30px;
}

/* Títulos */
h1, h2 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin: 15px;
    font-size: 30px;
}

h2 {
    margin: 30px;
}

/* Elemento "Est. 2020" */
header p {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

tr td:nth-child(1) {
    text-align: left;
}

tr td:nth-child(2) {
    text-align: right;
}

td {
    padding: 5px 15px;
}

hr {
    background-color: brown;
    border: 0px;
    margin: 20px;
    height: 3px;
}

section {
    text-align: center;
}
