@import 'variables';

aside.main-aside {  
    width: 360px;
    padding: 100px 30px;
    height: 95vh;
    position: sticky;
    top: 20px;
    right: 0;
    transition: all 0.4s ease;

    @include respond-to(small_medium) {
        position: fixed;
        top: 0;
        right: -100%;
        left: auto;
        max-width: 80%;
        height: 100vh;
        z-index: 100;
        transition: all 0.4s ease;
        padding-top: 80px;
        border-left: 2px solid $color-light;
        background: linear-gradient(
            to bottom,
            $color-dark,
            $color-accent,
            $color-accent,
            $color-dark
        );
    }

    background: linear-gradient(
        to bottom,
        $color-accent-transparent,
        $color-light-transparent 150px,
        $color-light-transparent calc(100% - 150px),
        $color-accent-transparent
    );

    mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        black 40px,
        black calc(100% - 40px),
        transparent 100%
    );

    h3 {
        color: $color-light;
        text-shadow: $color-dark 3px 3px 0;
        font-size: 2em;
        font-family: $titulo;
        margin-bottom: 10px;
    }

    hr {
        border: 2px solid $color-light;
        box-shadow: $color-dark 3px 3px 0;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 20px;

        li {
            position: relative;

            &:nth-child(4n + 1) { --item-color: #{$color-primary}; }
            &:nth-child(4n + 2) { --item-color: #{$color-accent-light}; }
            &:nth-child(4n + 3) { --item-color: #{$color-accent}; }
            &:nth-child(4n + 4) { --item-color: #{lighten($color-dark, 30%)}; }

            a, p {
                background-color: $color-light;
                color: $color-dark;
                transition: all 0.2s ease;
                font-size: 1.5em;
                font-weight: bold;
                text-decoration: none;
                text-wrap: nowrap;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 30px;
                padding: 10px;
                border: 3px solid $color-dark;
                box-shadow: $color-dark 4px 4px 0;
                border-radius: 10px;
            }

            p { cursor: default; }

            &:hover > a, &:hover > p {
                transform: scale(1.05);
                background-color: var(--item-color);
                color: $color-light;
                text-shadow: $color-dark 3px 3px;
            }

            &:hover > p { margin-bottom: 5px; }
        }
        
        .has-dropdown {
            position: relative;

            .submenu {
                background-color: $color-dark-transparent;
                border: 3px solid $color-dark;
                border-top: none;
                box-shadow: $color-dark 3px 3px 0;
                display: flex; 
                flex-direction: column;
                gap: 10px;
                max-height: 0;
                opacity: 0;
                overflow: hidden;
                padding: 0 10px;
                margin: 0 10px;
                border-radius: 0 0 10px 10px;
                transition: max-height 0.5s ease-in, opacity 0.2s ease, padding 0.2s ease;

                li {
                    &:nth-child(4n + 1) { --item-color: #{$color-primary}; }
                    &:nth-child(4n + 2) { --item-color: #{$color-accent-light}; }
                    &:nth-child(4n + 3) { --item-color: #{$color-accent}; }
                    &:nth-child(4n + 4) { --item-color: #{lighten($color-dark, 30%)}; }

                    a { 
                        background-color: $color-light;
                        border-color: $color-dark;
                        color: $color-dark;
                        text-shadow: none;
                        display: block;
                        font-size: 1.2em; 

                        &:hover {
                            color: $color-light;
                            text-shadow: $color-dark 2px 2px;
                            transform: scale(1.05);
                            box-shadow: $color-dark 5px 5px;
                            background-color: var(--item-color);
                        }
                    }
                }
            }

            &:hover .submenu { 
                max-height: 500px;
                opacity: 1;
                padding: 10px;
            }
        }
    }
}