@import 'variables';

aside.main-aside {  
    @include respond-to(small_medium) { display: none; }
    background: linear-gradient(
        to bottom,
        $color-accent-transparent,
        $color-light-transparent 150px,
        $color-light-transparent calc(100% - 150px),
        $color-accent-transparent
    );
    mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        black 40px,
        black calc(100% - 40px),
        transparent 100%
    );
    width: 360px;
    padding: 100px 30px;
    height: fit-content;
    position: sticky;
    top: 20px;

    h3 {
        color: $color-light;
        text-shadow: $color-dark 3px 3px 0;
        font-size: 2em;
        font-family: $titulo;
        margin-bottom: 10px;
    }

    hr {
        border: 2px solid $color-light;
        box-shadow: $color-dark 3px 3px 0;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 20px;

        li {
            position: relative;

            a, p {
                background-color: $color-light;
                color: $color-dark;
                font-size: 1.5em;
                font-weight: bold;
                text-decoration: none;
                text-wrap: nowrap;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 30px;
                padding: 10px;
                border: 3px solid $color-dark;
                border-radius: 10px;
                transition: transform 0.2s ease;
            }

            p { cursor: default; }

            &:hover > a, &:hover > p {
                background-color: $color-dark;
                color: $color-light;
                transform: scale(1.05);
            }
        } 
        
        .has-dropdown {
            position: relative;

            .submenu {
                display: flex; 
                flex-direction: column;
                gap: 5px;
                max-height: 0;
                opacity: 0;
                overflow: hidden;
                padding: 0 10px;
                margin: 0 10px;
                background-color: $color-dark-transparent;
                border-radius: 0 0 10px 10px;
                transition: max-height 0.5s ease-in, opacity 0.2s ease, padding 0.2s ease;

                li {
                    a { 
                        display: block;
                        font-size: 1.2em; 

                        &:hover {
                            background-color: $color-primary;
                            border-color: $color-light;
                        }
                    }
                }
            }

            &:hover .submenu { 
                max-height: 500px;
                opacity: 1;
                padding: 10px;
            }
        }
    }
}