* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Google Sans Code';
}

html {
    background: url(../../img/fondo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    font-size: 14px;
}