@import 'variables';

@mixin box-shadow {
    box-shadow: #00000065 0 0 10px 10px;
}

section.feed article {
    background: linear-gradient(
        $color-dark 0,
        $color-dark-transparent 300px,
        $color-dark-transparent
    );
    padding: 20px;
    border: 5px solid $color-light;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    // =========================================================
    // ARTICLE HEADER
    // =========================================================
    header.article-header {
        border-radius: 55px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 20px;
        text-shadow: darken($color-dark, $amount: 10) 3px 3px 0;

        // ARTICLE HEADER USER
        .article-header-user {
            @include respond-to(small) { font-size: 1.2em; }
            font-size: 1.5em;
            margin-right: 30px;
            border-radius: 50px;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;

            img {
                width: 90px;
                border-radius: 100px;
                box-shadow: #000 0 0 20px 5px;
            }

            .user-info {
                display: flex;
                flex-direction: column;
                color: $color-light;

                strong {
                    font-size: 1.2em;
                    font-weight: bold;
                    color: $color-accent-light;
                }
            }
        }

        // ARTICLE HEADER DATE
        .article-header-date {
            @include respond-to(small) { 
                font-size: 1em; 
                margin-top: 4px;
            }
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 5px;
            text-align: end;
            text-wrap: nowrap;
            font-size: 1.2em;
            margin-top: 8px;
            margin-right: 10px;
            margin-left: auto;

            strong { 
                color: $color-accent-light; 
                gap: 10px;
            }

            p { 
                font-weight: bold;
                color: $color-light;
                text-wrap: nowrap;
            }

            i { margin-left: 10px; }
        }
    }

    // =========================================================
    // ARTICLE BODY
    // =========================================================
    section.article-body {
        color: $color-light;
        display: flex;
        flex-direction: column;
        gap: 30px;

        // ARTICLE BODY TITLE
        header.article-body-title {
            @include respond-to(small) { font-size: 0.7em; }
            @include box-shadow;
            display: flex;
            flex-direction: column;
            gap: 10px;
            background:
                linear-gradient(
                    160deg,
                    $color-accent-light-transparent,
                    $color-primary-transparent,
                    $color-accent-transparent
                );
            padding: 40px 20px;
            border-radius: 40px;

            h3 { 
                font-family: $titulo;
                font-size: 2.2em; 
                color: $color-light;
                text-shadow: $color-dark 3px 3px 0;
            }

            h4 { 
                width: 100%;
                font-size: 2em; 
                color: $color-accent-light;
                text-shadow: $color-dark 3px 3px 0;
            }

            p { font-size: 1.5em ; }
        }

        // ARTICLE BODY CONTENT
        div.article-body-content {
            @include respond-to(small) { font-size: 0.7em; }
            @include box-shadow;
            display: block;
            overflow: hidden;
            background-color: $color-light;
            color: $color-dark;
            border-radius: 40px;

            img {
                @include respond-to(small) {
                    float: none;
                    display: block;
                    margin: 30px auto 30px;
                }
                float: left;
                width: 200px;
                height: 200px;
                aspect-ratio: 1 / 1;
                object-fit: cover;
                border: 5px solid $color-dark;
                border-radius: 20px;
                margin: 30px;
            }

            p { 
                font-size: 1.5em; 
                font-weight: bold;
                margin: 30px;

                i { 
                    font-size: 1.6em; 
                }
            }
        }
    }

    // =========================================================
    // ARTICLE FOOTER
    // =========================================================
    footer.article-footer {
        @include respond-to(small) { font-size: 1.2em; }
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        gap: 5px;
        color: $color-light;
        text-shadow: $color-dark 3px 3px 0;
        font-size: 1.5em;
        padding: 20px;
        border-radius: 40px;
        margin-top: 10px;

        strong, p {
            width: 100%;
            font-family: $titulo;
        }
        
        p { color: $color-accent-light }

        hr {
            border: 2px solid $color-light;
            border-radius: 10px;
            box-shadow: $color-dark 3px 3px 0;
            width: 100%;
            margin: 15px;
        }

        // VOTE BUTTONS
        .vote-btns {
            width: 100%;
            padding: 20px 40px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 20px;
            background-color: $color-light-transparent;
            mask-image: linear-gradient(
                to right,
                transparent 0%,
                black 20px,
                black calc(100% - 20px),
                transparent 100%
            );

            button {
                background-color: $color-light;
                padding: 20px;
                border: 4px solid $color-dark;
                box-shadow: $color-dark 2px 2px;
                border-radius: 10px;
                color: $color-dark;
                font-size: 1em;
                font-weight: bold;
                transition: all 0.1s linear;
                text-wrap: nowrap;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.05);
                    box-shadow: $color-dark 5px 5px;
                    color: $color-light;
                    text-shadow: $color-dark 2px 2px;
                }

                &:nth-child(4n + 1):hover { background-color: $color-primary; }
                &:nth-child(4n + 2):hover { background-color: $color-accent-light; }
                &:nth-child(4n + 3):hover { background-color: $color-accent; }
                &:nth-child(4n + 4):hover { background-color: lighten($color-dark, $amount: 30); }
            }
        }

        button.vote-confirm {
            width: 100%;
            max-width: 300px;
            padding: 20px;
            border: 3px solid $color-light;
            border-radius: 10px;
            color: $color-light;
            box-shadow: $color-dark 3px 3px;
            font-size: 1em;
            font-weight: bold;
            transition: all 0.2s ease;
            background: linear-gradient(
                to right,
                $color-dark 0%,
                $color-accent-transparent 50%,
                $color-primary 51%,
                $color-accent-light 100%
            );
            background-size: 210% 100%;
            background-position: left center;

            &:hover {
                cursor: pointer;
                background-color: $color-dark;
                color: $color-light;
                border: 3px solid $color-light;
                transform: scale(1.1);
                box-shadow: $color-dark 5px 5px;
                background-position: right center;
                text-shadow: $color-dark 3px 3px;
            }
        }
    }
}