@import 'variables';

header.body-header {
    background: linear-gradient(
        160deg, 
        $color-accent-light-transparent,
        $color-primary-transparent,
        $color-accent-transparent,
        $color-dark
    );
    box-shadow: $color-dark-transparent 0 0 10px 5px;
    border-radius: 100px;
    padding: 10px 20px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-shadow: $color-dark 3px 3px 0;
    
    a.btn-index {
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: all 0.2s ease;

        &:hover { transform: scale(1.05); }

        img {
            @include respond-to(small) { display: none; }

            width: 90px;
            margin-right: 10px;
        }

        h1 {
            color: $color-light;
            font-size: 3em;
            font-family: $titulo;
        }
    }

    .user {
        display: flex;
        align-items: center;
        gap: 20px;
        color: $color-light;

        p {
            @include respond-to(small_medium) { display: none; }

            text-align: end;
            font-size: 1.3em;
            text-shadow: $color-dark 2px 2px 0px;
            font-weight: bold;
        }

        a {
            text-decoration: none;
            transition: all 0.1s ease;

            &:hover { transform: scale(1.1); }

            i { 
                color: $color-light;
                font-size: 3em; 
            }

            img {
                margin-top: 3px;
                margin-right: 5px;
                width: 90px;
                border-radius: 100px;
                box-shadow: #000 0 0 20px 5px;
            }
        }
    }
}