@import 'variables';

nav.main-nav {
    margin: 20px 0;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        to right,
        $color-accent-transparent,
        $color-light-transparent,
        $color-light-transparent,
        $color-accent-transparent
    );
    mask-image: linear-gradient(
        to right,
        transparent 0%,
        black 5%,
        black 95%,
        transparent 100%
    );
    

    ul {
        display: flex;
        list-style-type: none;
        gap: 15px;
        border-radius: 30px;
        padding: 5px;

        li {
            a {
                color: $color-light;
                text-decoration: none;
                background: linear-gradient(
                    to right,
                    $color-dark 0%,
                    $color-accent-transparent 50%,
                    $color-primary 51%,
                    $color-accent-light 100%
                );
                background-size: 210% 100%;
                background-position: left center;
                padding: 12px 10px;
                display: flex;
                align-items: center;
                gap: 5px;
                border-radius: 30px;
                border: 3px solid $color-light;
                box-shadow: $color-dark 0 0 10px;
                transition: all 0.3s ease;

                &:hover, &:has(.selected) {
                    background-position: right center;
                    transform: scale(1.1);
                    text-shadow: $color-dark 2px 2px;
                }

                &:active { 
                    transform: scale(0.95);
                }

                p {
                    @include respond-to(small_medium) {
                        display: none;
                    }
                }
            }
        }
    }
}