$color-primary: #7c78b8;
$color-primary-darken: darken($color-primary, $amount: 5);
$color-accent: #ca305e;
$color-accent-light: #df9aaf;
$color-dark: #162452;
$color-light: #ffffff;
$color-aside: #5e5183;


$color-primary-transparent: #7c78b8a8;
$color-accent-light-transparent: #df9aafbe;
$color-accent-transparent: #ca305e79;
$color-dark-transparent: #241c30e0;
$color-light-transparent: #ffffff62;
$color-aside-transparent: #837151e0;